.form-control,
.borRadius {
    border-radius: 10px;
}

.grayCor {
    color: #C7C7C7;
}

.actives {
    border: 1px solid blue;
    font-weight: 900;
}

.btn {
    margin-right: 10px;
}

.btn:focus {
    outline: none;
}

.input-group .form-control:last-child {
    border-radius: 10px;
}

textarea {
    border-radius: 10px;
}

.btn-primary {
    border-radius: 10px;
    margin-top: 15px;
}