<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            用户列表
            <small>userList</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>主页</a></li>
            <li><a href="#">控制面板</a></li>
            <li class="active">用户管理</li>
        </ol>
    </section>

    <!-- <app-table [fileds]="userListFileds"></app-table> -->

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="mailbox-controls">
                    <!-- Check all button -->
                    <!-- search form -->
                    <form action="#" method="get" class="sidebar-form col-md-8">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" [(ngModel)]="keyword" placeholder="输入用户名,openid,">
                            <span class="input-group-btn">
                               <button type="submit" name="search" id="search-btn" class="btn btn-flat" (click)="searchUser()"><i class="fa fa-search"></i>
                               </button>
                            </span>
                        </div>
                    </form>
                    <!-- /.search form -->
                    <div class="pull-right marginTop">
                        {{count}}个用户
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm" (click)="lessPage()"><i class="fa fa-chevron-left"></i></button>
                            <button type="button" class="btn btn-default btn-sm" (click)="morePage()"><i class="fa fa-chevron-right"></i></button>
                        </div>
                        <!-- /.btn-group -->
                    </div>
                    <!-- /.pull-right -->
                </div>
            </div>
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">用户管理</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered">
                            <tr>
                                <th>昵称</th>
                                <th>性别</th>
                                <th>余额</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                            <tr *ngFor="let user of users;let i = index">
                                <td>{{user.nickname}}</td>
                                <td>{{user.sex==2 ? '女':'男'}}</td>
                                <td>{{user.totalMoney | money}}</td>
                                <td>
                                    {{user.createDt | date : 'yyyy-MM-dd'}}
                                </td>
                                <td>
                                    <a class="badge bg-green-active" routerLink="/admin/user-edit" [queryParams]="{_id:user._id}">编辑</a> <span class="badge bg-red" (click)="deleteUser(user._id)">删除</span></td>
                            </tr>
                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li (click)="lessPage()"><a>&laquo;</a></li>
                            <li *ngFor="let page of pageSize;let i =index" [class.active]="currentPage==i" (click)="getUserList(i)" [style.display]="currentPage>i+2||currentPage<i-2?'none':'inline-block' "><a>{{i+1}}</a></li>
                            <li (click)="morePage()"><a>&raquo;</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /.box -->
                <!-- /.box -->
            </div>

        </div>
    </section>
    <!-- /.content -->
</div>