<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            任务管理
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>主页</a></li>
            <li><a href="#">内容管理</a></li>
            <li class="active">任务管理</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">

                <!--栏目列表  -->
                <div class="mailbox-controls">
                    <div class="row">

                        <div class="col-md-2 col-sm-6 col-xs-12" *ngFor="let taskTag of taskTags;let i =index;" (click)="selectTaskTag(taskTag)">
                            <div class="info-box   {{selectedTaskTag==taskTag?'bg-yellow':''}} ">
                                <span class="info-box-icon bg-aqua"><i class="fa fa-envelope-o"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">栏目:{{taskTag.name}}</span>
                                    <span class="info-box-text">排序:{{taskTag.sort}}</span>
                                    <span class="info-box-text">子任务:{{taskTag.subTaskNum}}</span>

                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>


                        <!-- /.col -->
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                    </div>
                    <!-- /.btn-group -->

                    <!-- /.pull-right -->
                </div>
            </div>
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">任务管理</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered">
                            <tr>
                                <th>任务</th>
                                <th>发布金额</th>
                                <th>点击金额</th>
                                <th>余额</th>
                                <th>发布人</th>
                                <th>推广网址</th>
                                <th>发布时间</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>

                            <tr *ngFor="let task of tasks;let i = index">
                                <td>{{task.title}}</td>
                                <td>{{task.fee}}</td>
                                <td>{{task.shareMoney}}</td>
                                <td>{{task.totalMoney}}</td>
                                <td>{{task.websiteUrl}}</td>
                                <td>{{task.publisher.nickname}}</td>
                                <td>{{task.createDt | date:'yyyy-MM-dd hh:mm:ss'}}</td>
                                <td>
                                    <input type="checkbox" (change)="checkTask(task)" [checked]="task.active">
                                </td>
                                <td>
                                    <a class="badge bg-green-active" routerLink="/admin/task-edit" [queryParams]="{_id:task._id}">编辑</a> <span class="badge bg-red" (click)="deleteTask(task)">删除</span></td>
                            </tr>

                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li (click)="lessPage()"><a>&laquo;</a></li>
                            <li *ngFor="let page of pageSize;let i =index" [class.active]="currentPage==i" (click)="getTaskTags(i)" [style.display]="currentPage>i+2||currentPage<i-2?'none':'inline-block' "><a>{{i+1}}</a></li>
                            <li (click)="morePage()"><a>&raquo;</a></li>
                        </ul>
                    </div>

                </div>
                <!-- /.box -->

                <!-- /.box -->
            </div>

        </div>
    </section>
    <!-- /.content -->
</div>